/* this is my fast-food-fast css style */

body{
	margin: 0px;
	font-family: Arial !important;	
	/*background: linear-gradient(52grad, #fff,#01010b);*/
	/*background-color:white; */
	/*background-image:url(slides/slide1.jpg);*/
}

.section1{
	width:100%;
	height:auto;
	float:left;
	overflow:hidden;
	margin-top: auto;
	background: linear-gradient(52grad, #f00,#001042);
}

.section1 h1{
	color: lavender;
	margin-left: 120px;
	font-family: Arial !important;
}

.section1 h4{
	float: left;
	margin-left: 308px;
	color: lavender;
	margin-top: 0px;
	overflow: hidden;
}

.section_sub{
	float: left;
	width: 100%;
	overflow: hidden;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #001042;
	/*margin-top: 240px;*/
}

li {
	float: right;
	/*margin-left: 25px;*/
}

li a{
	display: inline-block;
	color: white;
	text-align: center;
	padding: 20px 22px;
	text-decoration: none;
	font-size: 15px;
}

li a:hover, .menu:hover {
    background:linear-gradient(52grad, #620202,#000);  
}

   /*    my column three at home page  */
.row{
	background-image:url(slides/slide5.jpg);
	background-position: center;
	background-attachment: fixed;
}

.column {
	float: left;
	width: 50%;
	padding: 0px;
	height: 500px;
	overflow: hidden;
	background-color: #0a030b99;
}

/* Clear floats after the columns */
.row:after {
	content: "";
	display: table;
	clear: both;
}

/*
.row , .column p{
	margin: auto;
	padding: 0px;
	border: 3px solid green;
	width: 71%;
}
*/

.column p{
	margin: auto;
	padding: 0px;
	border: 1px solid #f00;
    border-top-style: solid;
    border-top-width: 1px;
    border-right-style: solid;
    border-right-width: 1px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-left-style: solid;
    border-left-width: 1px;
	width: 73%;
	text-align: justify;
	text-indent: 34px;
	color: lavender;
	font-size: 14px;
	border-bottom-right-radius: 12px;
	border-bottom-left-radius: 0px;
	border-width: 4px;
	border-style: ridge;
	border-top-right-radius: 12px;
	/*ckground-color: rgba(0, 0, 0, 0.69);  */
}

body {
    font-family: Arial !important;
}

.column h5{
	color: lavender;
	text-align: center;
	text-decoration: unset;
	font-size: 16px;
	font-style: arial;
}

/*
.whole{
	float: left;
	width: 100%;
	height: auto;
	background-color: lavender;	
}
*/
.section2 ,.section2_b{
	
	
}

.section2 h2,.section2_b h2{
	
	
}


.middle{
	float:left;
	width:100%;
	height:300px;
	background: color #00100042);
}

.middle h3{
	text-align: center;
	font-size-adjust: unset;
	text-shadow: tomato;
	font-size: xx-large;
	color: #06217e;
	text-decoration: unset;

}

.middle p{
	text-align: center;
	margin-top: 4rem;
	font-size: 20px;
	color: #06217e;

}



          
                  /* slider class   */
.general{
	background-image: url(slides/slide3.jpg);
	background-position: center;
	float: left;
	width: 100%;
	height: 500px;	
}



.this_slider{
 /*	background-color: #24010199;  */
}

.this_slider h2{
	text-align: center;
/*	margin-top: 138px; */
	overflow: hidden;
	font-size: 20px;
	color: lavender;
	overflow: hidden;
	float: right;
	margin-right: 135px;
	margin-top: 50px;
	font-style: oblique;
}
.footer_before{
	float: left;
	width: 100%;
	height: 4px;
	background-color: #f00;
}

.footer{
	float:left;
	width:100%;
	/*height:auto; */
	height:200px;
	background-color: #000;
}
/*
.a , .b , .c {
float:left;
width:33% , 33% , 33%;
}
*/

.a{
float:left;
width:50%;
/*background-color: #4CAF50;8/
margin-top: 12px;
}
.b{
	float:left;
	width: 33%;
	/*background-color: #001042;*/
	margin-top: 12px;
}

.c{
	float:left;
	width:50%;
/*	background-color: #06217e;*/
	margin-top: 12px;
}

.a , .b , .c p{
	color: white;
font-size: 14px;
float: left;
width: 43%;
text-align: center;
}


.end{
	float: left;
width: 100%;
/*border-bottom-style: dotted;*/
border-bottom-color: red;
background-color: black;
border-top-style: groove;
}
.end p{
	text-align: center;
	color:lavender;
}









                        /* my login form   style  */
#password{
margin-left: 12px;
}
	   

			  /*   signup page       */
			  

		
.sign{
	float: left;
text-align: center;
width: 100%;
overflow: hidden;
background-color: white;

}
input[type="text"], input[type="password"] {
    width: 22%;
    padding: 4px 16px;
    margin: 2px 0px;
        margin-left: 0px;
    margin-left: 0px;
    margin-left: 0px;
    margin-left: 0px;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
	margin-left: 42px;
}
.sign p{


}
.uname{


}
.youmail{


}


#usernamesignup{
	margin-left: 138px;
table-layout: unset;
}

	/*  order    */
#password{

}

#usernamesignup2{
	margin-left: 122px;

}

#usernamesignup3{
	margin-left: 104px;

}
#usernamesignup4{
	margin-left: 120px;
}
#emailsignup1{
	margin-left: 143px;
}

#passwordsignup_a{
	margin-left: 109px;
}

#passwordsignup_confirm_b{
	margin-left: 148px;

}
.signin_button_a{

}

		 /*place an order now    "plass an order page */
.made{
	float: left;
	width: 100%;
	height: auto;
	overflow: hidden;
	height: 400px;
	background: linear-gradient(52grad, #f00,#001042);

}

.side_a h1{
	float: left;
	color:lavender;
	/*overflow: hidden; */
	font-size: 36px;
	margin-left: 135px;
}

.side_a p{
	color:lavender;
	margin-top: 74px;
	/*overflow: hidden; */
	text-align: center;
}

.side_b{
	float:left;
	width:50%;	
}


.side_b, img{
	width: 469px;
height: 278px;
border-radius: 26px;
image-orientation: unset;
margin-top: 15px;
}



.most{
	float:left;
	width:100%;
	overflow:hidden;
	background-image: url(slides/slide5.jpg);
}	


.order_button1{


}

.custome-select{


}
.custome-select select{


}


.choose1{ 

	float: left;
}
.choose2{
	float: left;
}

				  /*   style the admin page  */


#order{
float:left;
width:100%;
height:300px;
} 