/* this is my fast-food-fast css style */

body{
	margin: 0px;
	font-family: Arial !important;	
	/*background: linear-gradient(52grad, #fff,#01010b);*/
	/*background-color:white; */
	/*background-image:url(slides/slide1.jpg);*/
}

.section1{
	width:100%;
	height:auto;
	float:left;
	overflow:hidden;
	margin-top: auto;
	background: linear-gradient(52grad, #f00,#001042);
}

.section1 h1{
	color: lavender;
	margin-left: 120px;
	font-family: Arial !important;
}

.section1 h4{
	float: left;
	margin-left: 308px;
	color: lavender;
	margin-top: 0px;
	overflow: hidden;
}

.section_sub{
	float: left;
	width: 100%;
	overflow: hidden;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #001042;
	/*margin-top: 240px;*/
}

li {
	float: right;
	/*margin-left: 25px;*/
}

li a{
	display: inline-block;
	color: white;
	text-align: center;
	padding: 20px 22px;
	text-decoration: none;
	font-size: 15px;
}

li a:hover, .menu:hover {
    background:linear-gradient(52grad, #620202,#000);  
}

   /*    my column three at home page  */
.row{
	background-image:url(slides/slide5.jpg);
	background-position: center;
	background-attachment: fixed;
}

.column {
	float: left;
	width: 50%;
	padding: 0px;
	height: 500px;
	overflow: hidden;
	background-color: #0a030bcc;
}

/* Clear floats after the columns */
.row:after {
	content: "";
	display: table;
	clear: both;
}

/*
.row , .column p{
	margin: auto;
	padding: 0px;
	border: 3px solid green;
	width: 71%;
}
*/

.column p{
	margin: auto;
	padding: 0px;
	border: 1px solid #f00;
    border-top-style: solid;
    border-top-width: 1px;
    border-right-style: solid;
    border-right-width: 1px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-left-style: solid;
    border-left-width: 1px;
	width: 42%;
	text-align: justify;
	text-indent: 34px;
	color: lavender;
	font-size: 14px;
	border-bottom-right-radius: 12px;
	border-bottom-left-radius: 0px;
	border-width: 4px;
	border-style: ridge;
	border-top-right-radius: 12px;
	/*ckground-color: rgba(0, 0, 0, 0.69);  */
}

body {
    font-family: Arial !important;
}

.column h5{
	color: lavender;
	text-align: center;
	text-decoration: unset;
	font-size: 16px;
	font-style: arial;
}

/*
.whole{
	float: left;
	width: 100%;
	height: auto;
	background-color: lavender;	
}
*/
.section2 ,.section2_b{
	
	
}

.section2 h2,.section2_b h2{
	
	
}


.middle{
	float:left;
	width:100%;
	height:300px;
	background: color #00100042);
}

.middle h3{
	text-align: center;
	font-size-adjust: unset;
	text-shadow: tomato;
	font-size: xx-large;
	color: #06217e;
	text-decoration: unset;

}

.middle p{
	text-align: center;
	margin-top: 4rem;
	font-size: 20px;
	color: #06217e;

}



          
                  /* slider class   */
.general{
	background-image: url(slides/slide3.jpg);
	background-position: center;
	float: left;
	width: 100%;
	height: 500px;	
}



.this_slider{
 /*	background-color: #24010199;  */
}

.this_slider h2{
	text-align: center;
/*	margin-top: 138px; */
	overflow: hidden;
	font-size: 20px;
	color: lavender;
	overflow: hidden;
	float: right;
	margin-right: 135px;
	margin-top: 50px;
	font-style: oblique;
}
.footer_before{
	float: left;
	width: 100%;
	height: 9px;
	background-color: #012163;
}

.footer{
	float:left;
	width:100%;
	/*height:auto; */
	height:300px;
	background-color: #000;
}
/*
.a , .b , .c {
float:left;
width:33% , 33% , 33%;
}
*/

.a{
float:left;
width:34%;
/*background-color: #4CAF50;8/
margin-top: 12px;
}

.b{
	float:left;
	width: 33%;
	/*background-color: #001042;*/
	margin-top: 12px;
}

.c{
	float:left;
	width:33%;
/*	background-color: #06217e;*/
	margin-top: 12px;
}

.a , .b , .c p{
	color: white;
font-size: 14px;
float: left;
width: 33%;
text-align: center;
}










                        /* my login form   style  */


form {
    border: 3px solid #f1f1f1;
}

/* Full-width inputs */
input[type=text], input[type=password] {
	width: 27%;
	padding: 6px 17px;
	margin: 7px 0;
	margin-left: 0px;
	margin-left: 0px;
	margin-left: 0px;
	display: inline-block;
	border: 1px solid #ccc;
	box-sizing: border-box;
	margin-left: 479px;
}

/* Set a style for all buttons */
button {
	background-color: #4CAF50;
	color: white;
	padding: 14px 20px;
	margin: 8px 0;
	margin-left: 0px;
	border: none;
	cursor: pointer;
	width: 7%;
	margin-left: 478px;
}

/* Add a hover effect for buttons */
button:hover {
    opacity: 0.8;
}

/* Extra style for the cancel button (red) */
.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
}

/* Center the avatar image inside this container */
.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
}

/* login image */
img.login {
    width: 10%;
    border-radius: 50%;
}

/* Add padding to containers */
.container {
    padding: 16px;
}

/* The "Forgot password" text */
span.psw {
	/* float: right; */
	padding-top: 14px;
	margin-left: 108px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
        display: block;
        float: none;
    }
    .cancelbtn {
        width: 100%;
    }
}


